/* ---------------------------------------------------------
                            Aboutus
   ---------------------------------------------------------*/
                  /* aboutus */
.aboutus {
  padding-top: 39px;
  padding-bottom: 19px;
  background: rgb(22, 23, 26);

  &__container {
    @include container();
  }
}

.tab {
  @extend %listreset;
  display: flex;
  text-align: center;
  background: rgb(186, 192, 200);
  box-shadow: inset 0 20px 35px 0px rgb(209, 213, 218);
  border-radius: 5px;
  overflow: hidden;

  &__item {
    display: flex;
    transition: background 0.3s ease;
    background: rgb(186, 192, 200);
    box-shadow: inset 0 20px 35px 0px rgb(209, 213, 218);
    text-shadow: 0 -1px #ccc;
    zoom:1;

    @include media('<tablet') {
      flex-grow: 1;
    }
    @include media('>=992px') {
      flex-basis: 17.5%;
    }

    &:hover,
    &.active {
      background: #27292F;
      box-shadow: -1px 0 0 0px rgba(0, 0, 0, 0.2), inset -1px 0 0 0px rgba(0, 0, 0, 0.2), inset 0 30px 30px 0px rgb(65, 68, 77);
      text-shadow: none;
    }
  }

  &__link {
    display: block;
    padding: 15px 10px 10px;
    text-decoration: none;
    color: $white;
    font-size: 1.33em;
    line-height: 1.1em;
    text-transform: uppercase;
    width: 100%;

    .fontFaceObserver & {
      font-family: 'NevisBold';
    }

    @include media('<tablet') {
      padding: 15px 10px;
      font-size: 1.1em;
    }
  }
  
  &__descr {
    font-size: 14px;
    text-transform: none;
    color: #7A7D89;

    .fontFaceObserver & {
      font-family: 'MyriadPro-BlackIt';
    }

    @include media('<tablet') {
      font-size: 12px;
    }
    @include media('<480px') {
      display: none;
    }
  }
}

.tab-content {
  display: flex;
  color: #7C8893;

  &_padd {
    padding: 38px 0 0;
  }

  @include media('<tablet') {
    flex-direction: column;
  }

  &__content {
    @include media('>=tablet') {
      flex-basis: 64%;
    }
  }

  &__header {
    margin-bottom: 13px;
    color: #7C8893;
    font-size: 1.16em;
    line-height: 1.5em;

    .fontFaceObserver & {
      font-family: 'HelveticaNeueLTStd-Bd';
    }
  }

  &__text {
    line-height: 1.7em;

    .fontFaceObserver & {
      font-family: 'HelveticaNeueLTStd-Roman';
    }
  }
}

.tab__img {
  position: relative;
  border-radius: 5px;
  padding: 25px 0 20px;
  background-color: #1D242B;
  background-image: radial-gradient(circle at 40% 30%, #35404E, #1D242B);
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  text-align: center;

  .fontFaceObserver & {
    font-family: 'HelveticaNeueLTStd-Bd';
  }

  @include media('>=tablet') {
    flex-basis: 30%;
    margin-left: auto;
    margin-right: 6px;
  }
  @include media('<tablet') {
    margin-top: 30px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    @include arr(20, 50, #1D242B, l);

    @include media('<tablet') {
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      @include arr(50, 20, #1D242B, t);
    }
  }
}

.tab-img {
  display: flex;
  position: relative;
  text-align: center;
  filter: drop-shadow(0 0 1px #4b5b70);

  &__image {
    margin: auto;
  }

  &__img {
    display: block;
    margin-bottom: 17px;
  }

  &__text {
    display: block;
    font-size: 1.5em;
  }

  &__search {
    position: absolute;
    right: 13px;
    bottom: 11px;
    @include size(35px, 25px);
    background: $black;
    border-radius: 35%/50%;
  }

  .icon-search:after {
    margin: 3px auto 0;
    font-size: 16px;
  }
}

// tab btn
.about-btn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;

  &__btn {
    margin-right: 20px;
    min-width: 133px;
    padding: 0.35em 0.6em 0.4em 1.45em;
    margin-bottom: 20px;

    &:after {
      font-size: 20px;
    }

    &_last {
      min-width: 145px;
      margin-right: 0;

      @include media('>=tablet') {
        margin-left: auto;
      }
    }
    &:after {
      margin-left: 0.55em;
    }
  }
}





// @extend %flex;           // justify-content:space-between; align-items:center; display:flex;
// @extend %clearfix;       // &:after { content:''; display:block; clear:both; }
// @extend %transition;     // (all 0.5s ease)
// @extend %listreset;      // (margin:0; padding:0; list-style: none;)
// @extend %ellipsis;       // Match text...


// @include size(16px)                      // or (15px, 4px)
// @include coverdiv;                       // position:absolute; t:0; l:0; r:0; b:0; width:100%; height:100%;
// @include font(14px, 18px, #000);         // font-size, line-height, color
// @include animate(color)                  // or (color width) or (color width, 1s, linear)
// @include arr(50, 30, red, t);            // ($width, $height, $bg, $direction);
// @include font-smoothing(on);             // or (off)
// @include text-overflow;                  // lorem...
// @include counter(list);                  // for ul
// @include rem-font-size(20px);            // сначала нужно зайти в mixin и изменить базовый font-family
// @include placeholder-color(red);         // or (red !important)
// @include placeholder;                    // input { @include placeholder {color: red;} } // (color: red !important if dom't work)
// @include hide-text;                      // overflow:hidden; text-indent:101%; white-space:nowrap;

// font: italic 15px/1.75em 'Times New Roman';

//.fontFaceObserver & {
//  font-family: 'Mutlu';
//}

//@include media("<480px") {}

//@include media(">=480px") {}

//@include media("<tablet") {}

//@include media(">=tablet") {}

//@include media("<992px") {}

//@include media(">=992px") {}

//@include media("<1200px") {}

//@include media(">=1200px") {}

//@include media("<1200px", ">=992px") {}








