/* ---------------------------------------------------------
                            Aboutus
   ---------------------------------------------------------*/
.aboutus {
  padding-top: 38px;
  padding-bottom: 19px;
  background: $body-bg;

  &__container {
    @include container();
  }
}

.tab {
  @include listreset;
  display: flex;
  overflow: hidden;
  text-align: center;
  background: rgb(186, 192, 200);
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 0 rgba(255, 255, 255, 0.34);

  @include media('<tablet') {
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    transition: all 0.3s ease;
    box-shadow: inset 1px 0 0px 0 rgba(171, 177, 185, 0.38),
    inset 0 -30px 30px 0 rgb(206, 212, 220);
    background: rgb(186, 192, 200);
    text-shadow: 0 -1px #ccc;
    zoom:1;

    @include media('<992px') {
      flex-grow: 1;
    }
    @include media('>=992px') {
      flex-basis: 17.5%;
    }
    @include media('<tablet') {
      @include col(6);
    }
    @include media('<480px') {
      @include col(12);
    }

    &:hover,
    &.active {
      box-shadow: inset 0 30px 30px 0px rgb(65, 68, 77);
      background: #27292F;

      .tab__link {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 #ffffff;
      }
      .tab__descr {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      }
    }
    
    &_first {
      @include media('>=992px') {
        flex-basis: 16.2%;
      }
    }
  }

  &__link {
    display: block;
    padding: 15px 10px 10px;
    text-decoration: none;
    color: $white;
    font-size: 1.33em;
    line-height: 1.1em;
    text-transform: uppercase;
    width: 100%;
    text-shadow: 0 -1px 0 rgba(83, 117, 131, 0.24);


    .fontFaceObserver & {
      font-family: 'NevisBold';
    }
  }
  
  &__descr {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    text-transform: none;
    color: #7A7D89;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);

    .fontFaceObserver & {
      font-family: 'MyriadPro-BlackIt';
    }

    @include media('<480px') {
      display: none;
    }
  }
}

.tab-content {
  display: flex;
  color: #7C8893;

  &_padding {
    padding: 40px 0 22px;
  }

  @include media('<tablet') {
    flex-direction: column;
  }

  &__content {
    @include media('>=tablet') {
      flex-basis: 64%;
    }
  }

  &__header {
    margin-bottom: 13px;
    font-size: 1.16em;
    line-height: 1.43em;
    color: #7c8994;
    text-shadow: 0 1px 0 #0e0e10;


    .fontFaceObserver & {
      font-family: 'HelveticaNeueLTStd-Bd';
    }
  }

  &__text {
    line-height: 1.7em;
    color: #67747f;
    text-shadow: 0 1px 0 #0e0e10;

    .fontFaceObserver & {
      font-family: 'HelveticaNeueLTStd-Roman';
    }
  }
}

.tab__img {
  position: relative;
  border-radius: 5px;
  padding: 25px 0 20px;
  background-image: radial-gradient(circle at 38% 25%, #596775, #1D242B);
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  text-align: center;
  z-index: 1;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1D242B;
    z-index: -1;
    opacity: .41;
    mix-blend-mode: overlay;
  }

  .fontFaceObserver & {
    font-family: 'HelveticaNeueLTStd-Bd';
  }

  @include media('>=tablet') {
    flex-basis: 30%;
    margin-left: auto;
    margin-right: 6px;
  }
  @include media('<tablet') {
    margin-top: 30px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    @include arr(25, 50, rgb(40, 49, 57), l);

    @include media('<tablet') {
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      @include arr(50, 20, rgb(52, 63, 74), t);
    }
  }
}

.tab-img {
  display: flex;
  position: relative;
  text-align: center;
  filter: drop-shadow(0 0 1px #566a7f);

  &__image {
    margin: auto;
  }

  &__img {
    display: block;
    margin-bottom: 17px;
  }

  &__text {
    display: block;
    font-size: 1.5em;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.15), 0 1px 0 #ffffff;
  }

  &__search {
    position: absolute;
    right: 13px;
    bottom: 11px;
    @include size(35px, 25px);
    background: $black;
    border-radius: 35%/50%;
  }

  .icon-search:after {
    margin: 3px auto 0;
    font-size: 16px;
  }
}

// tab btn
.about-btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &__wrap {
    @include col(9);

    @include media('<tablet') {
      @include col(12);
      display: flex;
    }
    @include media('<480px') {
      flex-direction: column;
    }
  }

  &__btn {
    margin-right: 22px;
    min-width: 133px;
    margin-bottom: 20px;

    @include media('<480px') {
      margin-right: 0;
    }

    &_more {
      &::after {
        background: url('../img/sprite.png') no-repeat -172px -25px;
      }
    }
    &_we {
      &::after {
        background: url('../img/sprite.png') no-repeat -88px -29px;
      }
    }
    &_fb {
      &::after {
        background: url('../img/sprite.png') no-repeat -144px -26px;
      }
    }

    &_last {
      min-width: 145px;
      margin-right: 0;

      @include media('<tablet') {
        padding: .35em .6em .4em 1em;
      }
      @include media('<480px') {
        width: 100%;
      }

      &::after {
        background: url('../img/sprite.png') no-repeat -120px -28px;
      }
    }
  }
}










