mixin aboutus()
   +b.SECTION.aboutus
      +e.DIV.container
         +b.DIV.js-tab
            +b.UL.tab
               +e.LI.item(class="_first")
                  +e.A.link(href="#tabs1") Who are we
                     +e.SPAN.descr Something about us
               +e.LI.item
                  +e.A.link(href="#tabs2") Why hire us
                     +e.SPAN.descr Look at how we work
               +e.LI.item
                  +e.A.link(href="#tabs3") We can offer
                     +e.SPAN.descr The best services
               +e.LI.item
                  +e.A.link(href="#tabs4") Testimonails
                     +e.SPAN.descr Customers testimonials

            +b.DIV.tab-content_padding
               +b.DIV.tab-content#tabs1
                  +e.DIV.content
                     +e.H3.header.h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl felis, lobortis ac vulputate et, cursus eget tellus. Donec in ipsum nec tellus malesuada sodales non ac sem. Aliquam erat volutpat. Proin in velit nec tellus egestas auctor et eget nulla.
                     +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                              |blanditiis debitis deserunt dignissimos distinctio doloribus earum excepturi
                              |facere facilis, fuga hic ipsum iste laboriosam magni, maiores maxime minima,
                              |modi molestiae nam neque possimus modi molestiae nam neque possimus provident
                              |quaerat quam quia rem repellat repudiandae saepe sapiente sequi sint tempore
                              |ullam veritatis voluptas! Dicta eaque eligendi molestiae perspiciatis quae
                              |quibusdam rem repudiandae sed unde veritatis? Lorem ipsum dolor sit amet,
                              |consectetur adipisicing elit. Assumenda, suscipit!
                  +b.DIV.tab-img.tab__img
                     +e.image
                        +e.IMG.img(src="img/about-img.png" alt="About us image")
                        +e.SPAN.text About us
                     +e.DIV.search.icon-search

               +b.DIV.tab-content#tabs2
                  +e.DIV.content
                     +e.H3.header.h3 Lorem sit amet, consectetur adipisicing elit. Adipisci aliquid eaque error ipsa, itaque iure nulla odit pariatur qui, repellendus soluta suscipit vero. Aut corporis ea eum labore laudantium minus nam possimus, quam quibusdam sunt tenetur vel veritatis vero voluptates.
                     +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                              |blanditiis debitis deserunt dignissimos distinctio doloribus earum excepturi
                              |facere facilis, fuga hic ipsum iste laboriosam magni, maiores maxime minima,
                              |modi molestiae nam neque possimus modi molestiae nam neque possimus prov.
                  +b.DIV.tab-img.tab__img
                     +e.image
                        +e.IMG.img(src="img/about-img.png" alt="About us image")
                        +e.SPAN.text About us
                     +e.DIV.search.icon-search

               +b.DIV.tab-content#tabs3
                  +e.DIV.content
                     +e.H3.header.h3 Lorem sit amet, consectetur adipisicing elit. Adipisci aliquid
                        eaque error ipsa, itaque iure nulla odit pariatur qui, repellendus soluta suscipit vero. Aut corporis ea eum labore laudantium minus nam possimus, quam quibusdam sunt tenetur vel veritatis vero voluptates.
                     +e.P.text Fuga hic ipsum iste laboriosam magni, maiores maxime minima,
                              |modi molestiae nam neque possimus modi molestiae nam neque possimus provident
                              |quaerat quam quia rem repellat repudiandae saepe sapiente sequi sint tempore
                              |ullam veritatis voluptas! Dicta eaque eligendi molestiae perspiciatis quae
                              |quibusdam rem repudiandae sed unde veritatis? Lorem ipsum dolor sit amet,
                              |consectetur adipisicing elit. Assumenda, suscipit!
                  +b.DIV.tab-img.tab__img
                     +e.image
                        +e.IMG.img(src="img/about-img.png" alt="About us image")
                        +e.SPAN.text About us
                     +e.DIV.search.icon-search

               +b.DIV.tab-content#tabs4
                  +e.DIV.content
                     +e.H3.header.h3 Lorem sit amet, consectetur adipisicing elit. Adipisci aliquid eaque error ipsa, itaque iure nulla odit pariatur qui, repellendus soluta suscipit vero. Aut corporis ea eum labore laudantium minus nam possimus, quam quibusdam sunt tenetur vel veritatis vero voluptates.
                     +e.P.text Tuibusdam rem repudiandae sed unde veritatis? Lorem ipsum dolor sit
                              |amet, consectetur adipisicing elit. Assumenda, suscipit!
                  +b.DIV.tab-img.tab__img
                     +e.image
                        +e.IMG.img(src="img/about-img.png" alt="About us image")
                        +e.SPAN.text About us
                     +e.DIV.search.icon-search
         +b.about-btn
          +e.wrap
            +e.A.btn.btn(class="_gray" href="#").icon-plus-button Read more
            +e.A.btn.btn(class="_blue" href="#").icon-twitter-bird Follow us
            +e.A.btn.btn(class="_blue-dark" href="#").icon-facebook Fasebook
          +e.A.btn(class="_last btn_gray" href="#").btn.icon-mail Get in touch

