mixin aboutus()
   +b.SECTION.aboutus
      +e.DIV.container
         +b.DIV.js-tab
            +b.UL.tab
               +e.LI.item
                  +e.A.link(href="#tabs1") Who are we
                     +e.SPAN.descr Something about us
               +e.LI.item
                  +e.A.link(href="#tabs2") Why hire us
                     +e.SPAN.descr Look at how we work
               +e.LI.item
                  +e.A.link(href="#tabs3") We can offer
                     +e.SPAN.descr The best services
               +e.LI.item
                  +e.A.link(href="#tabs4") Testimonails
                     +e.SPAN.descr Customers testimonials

            +b.DIV
               +b.DIV.tab-content.tab-content_padd#tabs1
                  +e.DIV.content
                     +e.H3.header.h3 Lorem sit amet, consectetur adipisicing elit. Adipisci aliquid eaque error ipsa, itaque iure nulla odit pariatur qui, repellendus soluta suscipit vero. Aut corporis ea eum labore laudantium minus nam possimus, quam quibusdam sunt tenetur vel veritatis vero voluptates.
                     +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                              |blanditiis debitis deserunt dignissimos distinctio doloribus earum excepturi
                              |facere facilis, fuga hic ipsum iste laboriosam magni, maiores maxime minima,
                              |modi molestiae nam neque possimus modi molestiae nam neque possimus provident
                              |quaerat quam quia rem repellat repudiandae saepe sapiente sequi sint tempore
                              |ullam veritatis voluptas! Dicta eaque eligendi molestiae perspiciatis quae
                              |quibusdam rem repudiandae sed unde veritatis? Lorem ipsum dolor sit amet,
                              |consectetur adipisicing elit. Assumenda, suscipit!
                  +b.DIV.tab-img.tab__img
                     +e.image
                        +e.IMG.img(src="img/about-img.png" alt="About us image")
                        +e.SPAN.text About us
                     +e.DIV.search.icon-search

               +b.DIV.tab-content.tab-content_padd#tabs2
                  +e.DIV.content
                     +e.H3.header.h3 Lorem sit amet, consectetur adipisicing elit. Adipisci aliquid eaque error ipsa, itaque iure nulla odit pariatur qui, repellendus soluta suscipit vero. Aut corporis ea eum labore laudantium minus nam possimus, quam quibusdam sunt tenetur vel veritatis vero voluptates.
                     +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                              |blanditiis debitis deserunt dignissimos distinctio doloribus earum excepturi
                              |facere facilis, fuga hic ipsum iste laboriosam magni, maiores maxime minima,
                              |modi molestiae nam neque possimus modi molestiae nam neque possimus prov.
                  +b.DIV.tab-img.tab__img
                     +e.image
                        +e.IMG.img(src="img/about-img.png" alt="About us image")
                        +e.SPAN.text About us
                     +e.DIV.search.icon-search

               +b.DIV.tab-content.tab-content_padd#tabs3
                  +e.DIV.content
                     +e.H3.header.h3 Lorem sit amet, consectetur adipisicing elit. Adipisci aliquid
                        eaque error ipsa, itaque iure nulla odit pariatur qui, repellendus soluta suscipit vero. Aut corporis ea eum labore laudantium minus nam possimus, quam quibusdam sunt tenetur vel veritatis vero voluptates.
                     +e.P.text Fuga hic ipsum iste laboriosam magni, maiores maxime minima,
                              |modi molestiae nam neque possimus modi molestiae nam neque possimus provident
                              |quaerat quam quia rem repellat repudiandae saepe sapiente sequi sint tempore
                              |ullam veritatis voluptas! Dicta eaque eligendi molestiae perspiciatis quae
                              |quibusdam rem repudiandae sed unde veritatis? Lorem ipsum dolor sit amet,
                              |consectetur adipisicing elit. Assumenda, suscipit!
                  +b.DIV.tab-img.tab__img
                     +e.image
                        +e.IMG.img(src="img/about-img.png" alt="About us image")
                        +e.SPAN.text About us
                     +e.DIV.search.icon-search

               +b.DIV.tab-content.tab-content_padd#tabs4
                  +e.DIV.content
                     +e.H3.header.h3 Lorem sit amet, consectetur adipisicing elit. Adipisci aliquid eaque error ipsa, itaque iure nulla odit pariatur qui, repellendus soluta suscipit vero. Aut corporis ea eum labore laudantium minus nam possimus, quam quibusdam sunt tenetur vel veritatis vero voluptates.
                     +e.P.text Tuibusdam rem repudiandae sed unde veritatis? Lorem ipsum dolor sit
                              |amet, consectetur adipisicing elit. Assumenda, suscipit!
                  +b.DIV.tab-img.tab__img
                     +e.image
                        +e.IMG.img(src="img/about-img.png" alt="About us image")
                        +e.SPAN.text About us
                     +e.DIV.search.icon-search
         +b.about-btn
          +e.A.btn.btn.btn-blue.icon-plus-button(href="#") Read more
          +e.A.btn.btn.icon-twitter-bird(href="#") Follow us
          +e.A.btn.btn.btn_blue-dark.icon-facebook(href="#") Fasebook
          +e.A.btn.btn.about-btn__btn_last.icon-mail(href="#") Get in touch

