mixin about()
   +b.SECTION.about
      +e.DIV.container

        +b.DIV.about-form Lorem

        +b.DIV.tab-content_padding
           +b.DIV.tab-content
              +e.DIV.content
                 +e.H3.header.h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl felis, lobortis ac vulputate et, cursus eget tellus. Donec in ipsum nec tellus malesuada sodales non ac sem. Aliquam erat volutpat. Proin in velit nec tellus egestas auctor et eget nulla.
                 +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl felis, lobortis ac vulputate et, cursus eget tellus. Donec in ipsum nec tellus malesuada sodales non ac sem. Aliquam erat volutpat. Proin in velit nec tellus egestas auctor et eget nulla. Maecenas gravida lacus non leo congue elementum. Praesent tincidunt lectus nec felis hendrerit id blandit ante consequat. Proin bibendum, arcu eu lobortis egestas, massa leo ullamcorper dolor, non ullamcorper neque magna quis diam. Praesent interdum neque id nulla accumsan euismod. Curabitur sit amet ornare purus. Aliquam erat volutpat.
              +b.DIV.tab-img.tab__img
                 +e.image
                    +e.IMG.img(src="img/about-img.png" alt="About us image")
                    +e.SPAN.text About us
                 +e.DIV.search.icon-search


         +b.about-btn
          +e.wrap
            +e.A.btn(class="_more").btn(class="_gray" href="#") Read more
            +e.A.btn(class="_we").btn(class="_blue" href="#") Follow us
            +e.A.btn(class="_fb").btn(class="_blue-dark" href="#") Fasebook
          +e.A.btn(class="_last btn_gray" href="#") Get in touch

