extends template

include components/dreams/dreams
include components/aboutus/aboutus

block content
    main.my-content
        // section dreams start
        +dreams()
        // section dreams end
        // section aboutus start
        +aboutus()
        // section aboutus end