extends template

include components/dreams/dreams
include components/aboutus/aboutus
include components/offers/offers

block content
    main.my-content
        // section dreams start
        +dreams()
        // section dreams end

        // section aboutus start
        +aboutus()
        // section aboutus end

        // section offers start
        +offers()
        // section offers end