include _assets/bemto/bemto
- set_bemto_settings({ modifier: "_" })

include components/head/head
include components/header/header
include components/sign/sign
include components/footer/footer


doctype html
html(lang="ru" dir="ltr")

  block head
    head
      +head({
        "title": "Bramdmedia_pug",
        "author": "Tatyana Granchenko",
        "description": "Bramdmedia test progect"
      })

    +b.BODY.ishome
      // my-page start
      +b.DIV.my-page
        // my-page end

        // my-header start
        block header
          +header()
        // my-header end

        // content start
        block content
          +content()
        // content end

        // my-footer start
        block footer
          +sign()
          +footer()
        // my-footer end

        // buttot to top
        +b.DIV.top(title="Наверх")
          +e.DIV.icon
            +e.SPAN.arrow
            +e.SPAN.arrow.top__arrow_last

        // preloader
        //+b.DIV#hellopreloader
        //	+b.DIV#hellopreloader_preload

        // form for modal windows
          //+form()

      // scripts
      block scripts
        script( src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        script.
          window.jQuery || document.write('<script src="libs/jquery/jquery-3.3.1.min.js"><\/script>')
        // Main script
        script( src="js/scripts.min.js")

        // build:js js/map.js
        // script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3D7OR3uR7q-aqJWW4HIRyDJxuKfH6d6E&callback=initMap" async defer)
        // script( src="js/map.min.js" defer)
        // endbuild

        // vimeo
        // script( src="https://player.vimeo.com/api/player.js")

        // Fontawesome
        // script(defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")