/* ---------------------------------------------------------
                            Сommon
   ---------------------------------------------------------*/
//// preloader
//.preloader {
//  position: fixed;
//  top: 0;
//  bottom: 0;
//  right: 0;
//  left: 0;
//  z-index: 100;
//  background: $dark;
//
//  .pulse {
//    position: relative;
//    left: 50%;
//    top: 50vh;
//    margin-left: -40px;
//    margin-top: -40px;
//
//    &::before, &::after {
//      content: '';
//      border: 5px solid #323232;
//      width: 80px;
//      height: 80px;
//      border-radius: 500px;
//      position: absolute;
//    }
//
//    &::before {
//      animation: pulse-outer .8s ease-in infinite;
//    }
//
//    &::after {
//      animation: pulse-inner .8s linear infinite;
//    }
//  }
//}
//
//@keyframes pulse-outer {
//  0% {
//    @include opacity(100);
//  }
//  50% {
//    @include opacity(50);
//  }
//  100% {
//    @include opacity(0);
//  }
//}
//
//@keyframes pulse-inner {
//  0% {
//    @include opacity(0);
//    transform: scale(0);
//  }
//  100% {
//    @include opacity(100);
//    transform: scale(1);
//  }
//}

// preloader
#hellopreloader_preload{
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  //background: #4b4b4b url(http://hello-site.ru//main/images/preloads/circles.svg) center center no-repeat;
  //background: #000000 url(http://hello-site.ru//main/images/preloads/oval.svg) center center no-repeat;
  background: #000000 url(http://hello-site.ru//main/images/preloads/rings.svg) center center no-repeat;
  background-size:41px;
}

// button to top
.top {
  position: fixed;
  bottom: 25px;
  right: -100px;
  width: 50px;
  height: 50px;
  z-index: 12;
  cursor: pointer;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
  background: #e0e0e0;
  color: #666;
  border-radius: 50%;
  opacity: .5;
  @extend %transition;
  display: flex;
  
  &:hover {
    background: $accent;
    opacity: 1;
  }
  &.active {
    right: 25px;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 18px auto;
    width: 17px;
    height: 20px;
  }
  &__arrow {
    display: block;
    margin: auto;
    @include size(11px, 11px);
    border-right: 2px solid $red;
    border-top: 2px solid $red;
    transform: rotate(-45deg);

    &_last {
      margin-top: -5px;
    }
  }
}

// disable hover while scrolling
//.disable-hover {
//  pointer-events: none;
//}
//.disable-hover,
//.disable-hover * {
//  pointer-events: none !important;
//}


// common styles
header, section, footer {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.inverse {
  background: $dark;
  color: $white;
}

.overlay {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($over, .92);
  }
}

//.map {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 0;
//   background: $light-gray;
// }


//&::-webkit-input-placeholder { color: red; }
//&::-moz-placeholder { color: red; }
//&:-moz-placeholder  { color: red; }
//&:-ms-input-placeholder { color: red; }




// @extend %flex;           // justify-content:space-between; align-items:center; display:flex;
// @extend %clearfix;       // &:after { content:''; display:block; clear:both; }
// @extend %transition;     // (all 0.5s ease)
// @extend %listreset;      // (margin:0; padding:0; list-style: none;)
// @extend %ellipsis;       // Match text...


// @include size(16px)                      // or (15px, 4px)
// @include coverdiv;                       // position:absolute; t:0; l:0; r:0; b:0; width:100%; height:100%;
// @include font(14px, 18px, #000);         // font-size, line-height, color
// @include animate(color)                  // or (color width) or (color width, 1s, linear)
// @include arr(50, 30, red, t);            // ($width, $height, $bg, $direction);
// @include font-smoothing(on);             // or (off)
// @include text-overflow;                  // lorem...
// @include counter(list);                  // for ul
// @include rem-font-size(20px);            // сначала нужно зайти в mixin и изменить базовый font-family
// @include placeholder-color(red);         // or (red !important)
// @include placeholder;                    // input { @include placeholder {color: red;} } // (color: red !important if dom't work)
// @include hide-text;                      // overflow:hidden; text-indent:101%; white-space:nowrap;

// font: italic 15px/1.75em 'Times New Roman';

//.fontFaceObserver & {
//  font-family: 'Mutlu';
//}

//@include media("<480px") {}

//@include media(">=480px") {}

//@include media("<tablet") {}

//@include media(">=tablet") {}

//@include media("<992px") {}

//@include media(">=992px") {}

//@include media("<1200px") {}

//@include media(">=1200px") {}

//@include media("<1200px", ">=992px") {}






