// Forms
form,
fieldset {
  margin: 0;
  border-style: none;
  padding: 0;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
textarea {
  @include placeholder-color($placeholder-color);
  border: 1px solid $form-element-border-color;
  padding: $form-element-padding;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  &:focus {
    border-color: $form-element-focus-border-color;
  }
}

select {
  -webkit-border-radius: 0;
}

textarea {
  vertical-align: top;
  resize: vertical;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

// Tanya add
body input:required:valid,
body textarea:required:valid,
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}
