mixin articles()
  +b.SECTION.articles
    +b.DIV.container

      +b.DIV.news
        +b.DIV
          +b.DIV.post
            +b.H2.h2 Карантин не продовжили: чернігівських школярів чекають у понеділок на навчанні ВІДЕО
            +b.ARTICLE.content(class="post__content")
              +b.DIV.info(class="content__info")
                +e.P.text Обмежувальні заході у школах Чернігова не продовжили. І тому школярі у понеділок, 19 лютого, вийдуть на навчання після...
                +b.DIV(class="info__img")
                  +e.IMG.image(src="/img/map.jpeg" alt="Image")
              +b.DIV.date(class="content__date")
                +e.DIV.day 15 лютого 2018
                +e.DIV.views.icon-eye-1 4779
      
          +b.DIV.post
            +b.H2.h2 Карантин не продовжили: чернігівських школярів чекають у понеділок на навчанні ВІДЕО
            +b.ARTICLE.content(class="post__content")
              +b.DIV.info(class="content__info")
                +e.P.text Обмежувальні заході у школах Чернігова не продовжили. І тому школярі у понеділок, 19 лютого, вийдуть на навчання після...
                +b.DIV(class="info__img")
                  +e.IMG.image(src="/img/map.jpeg" alt="Image")
              +b.DIV.date(class="content__date")
                +e.DIV.day 15 лютого 2018
                +e.DIV.views.icon-eye-1 4779