mixin offers()
  +b.SECTION.offers
    +e.DIV.container

      +b.DIV.offer.tour(class="_mod")
        +e.SPAN.name Brandmedia tour
        +e.DIV.content
          +e.SPAN.text Watch now the video
          +e.heading Vidoetour

      +b.DIV.offer.apps
        +e.SPAN.name Brandmedia apps
        +e.DIV.content
          +e.SPAN.text Avaliable on the Apple
          +e.heading App store

      +b.DIV.offer.jobs
        +e.SPAN.name Brandmedia jobs
        +e.DIV.content
          +e.SPAN.text Find a Freelancer
          +e.heading Job board

