/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "OfficinaSerITCStd-ExtraBoldIta";
  src: url("./fonts/officinaseritcstd-extraboldita.eot"); /* IE9 Compat Modes */
  src: url("./fonts/officinaseritcstd-extraboldita.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/officinaseritcstd-extraboldita.otf") format("opentype"), /* Open Type Font */
    url("./fonts/officinaseritcstd-extraboldita.svg") format("svg"), /* Legacy iOS */
    url("./fonts/officinaseritcstd-extraboldita.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/officinaseritcstd-extraboldita.woff") format("woff"), /* Modern Browsers */
    url("./fonts/officinaseritcstd-extraboldita.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}