$xxs: "(min-width: 320px)";
$xs: "(min-width: 480px)";
$sm: "(min-width: 768px)";
$_sm: "(max-width: 767px)";
$md: "(min-width: 992px)";
$_md: "(max-width: 991px)";
$lg: "(min-width: 1200px)";
$xlg: "(min-width: 1500px)";

$cols: 12;
$gutter: 20px;
// $col: calc(100% / $cols);
// $col: 5.2%;

%container {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;

  @media #{$xxs} {
    width: 100%;
    padding: 0 10px;
  }
  @media #{$sm} {
    //width: 750px;
  }
  @media #{$md} {
    max-width: 984px;
  }
  @media #{$lg} {
    max-width: 1174px;
  }
  @media #{$xlg} {
    //max-width: 1400px;
  }
}

@mixin container($align:space-between, $wrap:wrap) {
  @extend %container;
  justify-content: $align;
  flex-wrap: $wrap;
}

@mixin col($num) {
  width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) );
}

