/* ---------------------------------------------------------
                           Helpers
   ---------------------------------------------------------*/
.clearfix {
  @include clearfix;
}


.hide-tablet {
  @include media('<tablet') {
    display: none !important;
  }
}
.hide-desktop {
  @include media('>=tablet') {
    display: none !important;
  }
}
.visible-sm {
  @include media('≥tablet') {
    display: none !important;
  }
}
.visible-lg {
  @include media('<desktop') {
    display: none !important;
  }
}


.text-left {
   text-align: left !important;
 }
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important
}


.img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

span {
  display: inline-block;
}

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  @include media('<desktop') {
    font-size: 11px;
  }
}

.wrap {
  max-width: 1174px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrap-flex {
  @extend .wrap;

  @include media('≥tablet') {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}


//or .visually-hidden
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//.visually-hidden:not(:focus):not(:active) {
//  position: absolute;
//  width: 1px;
//  height: 1px;
//  margin: -1px;
//  padding: 0;
//  border: 0;
//  overflow: hidden;
//  white-space: nowrap;
//  clip-path: inset(100%);
//  clip: rect(0 0 0 0);
//}

//управление станет видимым после фокусировки (для зрителей с клавиатурой)
//.sr-only-focusable:focus {
//  position: static;
//  width: auto;
//  height: auto;
//  margin: 0;
//  overflow: visible;
//  clip: auto;
//}