/* ---------------------------------------------------------
                           Varibles
   ---------------------------------------------------------*/

// Common colors
$black          : black;
$white          : white;
$blue           : #327595;             // btn, link
$dark           : #1a1a1a;             // preloader 
$overlay        : #3D3D3D;

// Site colors
$accent         : #4E978D;
$orange         : #BF5C46;             // rgb(191, 92, 70);
$body-bg        : #525659;             // rgb(82, 86, 89)
$dreams-bg      : #7a8390;
$text-color     : $black;
$h1-color       : #2a2a2a;
$gray           : #CСС;
$light          : #C0C0C0;

// Button colors
$btn-white      : #dfe2eb;
$btn-blue-light : #789BBE;
$btn-bg         : #317191;            // rgba(49, 113, 145, 1);
$btn-dark-blue  : #345283;     			  // rgba(51, 78, 126, 1);
$btn-gray       : #49515f;            // rgba(72, 78, 92, 1);


// $red-gradient: linear-gradient($orange, $accent);
// $dark-gradient: linear-gradient(to top, #1b1c1e, #2a313c),
//                 linear-gradient(#2f3035, #2f3035);  // footer background gragient

// Fonts
$base-font-sans-serif: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $black !default;
$base-background-color: $body-bg !default;
$font-size-base: 16px !default;
$line-height-base: 1.6 !default;                          // 1.6 standart
//$base-font-family: 'RobotoRegular', $base-font-sans-serif !default;
$base-font-family: 'MyriadProRegular' !default; // with FontFaceObserver

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $blue;

// Buttons 
$btn-color: $white !default;
$btn-background: $btn-bg !default;
$btn-padding: 0.4em 0.5em 0em 0.9em !default;
$btn-border-radius: 3px;
$btn-font-size: 1.17em !default;
$btn-line-height: 1.85em !default;
$btn-font-family: 'Helvetica Neue' !default;

// Forms
$form-element-padding: 8px 17px !default;
$form-element-border-color: #f3f3f3 !default;
$form-element-focus-border-color: $blue !default;
$placeholder-color: #898989 !default;

// Headers
$h1-font-size: 3.75em !default;  // 45px
$h2-font-size: 1.6em !default;   // 30px
$h3-font-size: 1.5em !default;   // 18px
$h4-font-size: 1.17em !default;  // 14px
$h5-font-size: 19em !default;
$h6-font-size: 17em !default;

$headings-font-family: inherit !default;
$headings-color: $black !default;

$animation-speed: 0.3s;
