mixin dreams()
  +b.SECTION.dreams
    +e.DIV.wrap
      +e.DIV.content
        +b.DIV.d-content
          +e.SPAN.supname Creative Agency
          +e.H1.heading.h1 We Make Dreams
          +e.P.text Beautiful interfaces and creative solutions

          +b.DIV.d-buttons
            +e.A.btn.btn(class="_blue-light" href='#') Read more
            +e.A.btn.btn(class="_white" href='#') Portfolio

      +b.DIV.video
        +e.DIV.overlay
        +b.DIV.controls
          +e.BUTTON.prev.icon-fast-backward
          +e.BUTTON.btn.icon-play
          +e.BUTTON.next.icon-fast-forward

        // slick gallery start
        +b.DIV.slick.video__slick

          -var videoCount = ["13955583", "19292559", "29833627", "13955583", "19292559", "29833627", "13955583", "19292559", "29833627", "13955583", "19292559", "29833627", "13955583", "19292559"]
          for number in videoCount
            +e.DIV.item
              +b.IFRAME.iframe(src="https://player.vimeo.com/video/#{number}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
        // slick gallery end
