/* ---------------------------------------------------------
                            Dreams
   ---------------------------------------------------------*/
.dreams {
  background: #333;
  padding: 16px 14px;

  @include media('>=768px') {
    padding: 16px 39px;
  }

  &__wrap {
    @include container();
    flex-direction: column;
    border-radius: 5px;
    background: #999;
    background-image: radial-gradient(center top, $white, #999);
    padding: 35px 38px 17px 43px;

    @include media('<tablet') {
      padding: 0 10px 17px 10px;
      margin: 0;
    }
    @include media('>=768px') {
      flex-direction: row;
    }
    @include media('>=540px', '<tablet') {
      padding: 0 50px 17px;
    }
  }

  &__content {
    display: flex;

    @include media('>=992px') {
      width: 44%;
    }
  }
}

.d-content {
  margin: auto 0;
  padding-top: 52px;
  padding-bottom: 30px;

  .fontFaceObserver & {
    font-family: 'MyriadPro-BlackIt';
  }
  &__heading {
    .fontFaceObserver & {
      font-family: 'MyriadPro-BlackIt' !important;
    }
  }

  &__heading {
    letter-spacing: -2px;
    margin-top: 5px;
  }
  &__text {
    font-size: 1.25em;
  }
}
.d-buttons {
  margin-top: 35px;
  &__first,
  &__last {
    @include size(102px, 30px);
  }

  &__first {
    margin-right: 15px;
  }
}

 //video
.video {
  position: relative;
  border-radius: 5px;
  overflow: hidden;

  @include media('>=768px', '<992px') {
    width: 50%;
    align-self: flex-start;
  }
  @include media('<992px') {
    margin-bottom: 10px;
  }
  @include media('>=992px') {
    width: 56%;
  }

  &__overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: $btn-dark-blue;
    background-image: url('../img/video.png'), radial-gradient(ellipse, #83baee 0, #79abde 25%, #79abde 25%, #3366cc 100%);
    background-size: cover;
    box-shadow: inset 0 27px 0 -10px $gray-black, inset 0 -25px 0 -10px $gray-black;

    @include media("<1200px", ">=992px") {
      width: auto !important;
    }
  }
}

.slick-list {
  border-radius: 5px;
  overflow: hidden;
}

.controls {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-70%);
  z-index: 15;
  border-radius: 5px;
  background-color: #76A6CD;
  background-image: linear-gradient(#A9CAE9,  #76A6CD);
  @include size(50%, 26%);
  box-shadow:  0 0.5px 1px 1px rgb(69, 101, 151);

  @include media("<480px") {
     @include size(60%, 30%);
  }
  &__btn {
    margin: auto;
  }
}

.controls__btn,
.controls__prev,
.controls__next {
  margin: auto;
  @extend %transition;
  background: #666;
  background-image: linear-gradient(#666, #333);
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 10px 15px -10px $black;
  padding: 10px;
  color: $white;
  font-size: 1.5em;
  cursor: pointer;

  @include media("<480px") {
    font-size: 1.2em;
  }

  &:after {
    margin: 0 1px;
  }

  &:hover,
  &:focus {
    outline: none;
    background: lighten(#666, 10%);
    background-image: linear-gradient(lighten(#666, 10%), lighten(#333, 10%));
  }
}

// slick
.slick {
  position: relative;

  &__item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }

  .fluid-width-video-wrapper {
    iframe {
      margin: 0;
      min-height: auto;
      border: none;
    }
  }
}

.slick-dots{
  @extend %listreset;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  & > li {
    border-radius: 50%;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background: $gray-black;
    border-radius: 50%;
  }
  button {
    display: none;
  }
  
  .slick-active {
    background: #3399cc;
  }
}




