/* ---------------------------------------------------------
                            Dreams
   ---------------------------------------------------------*/
.dreams {
  background: $section-bg;
  border-top: 1px solid lighten($section-bg, 5%);
  border-bottom: 1px solid lighten($section-bg, 3%);
  padding: 16px 14px;

  @include media('>=768px') {
    padding: 16px 39px;
  }

  &__wrap {
    @include container();
    flex-direction: column;
    border-radius: 5px;
    background: $dreams-bg;
    background-image: radial-gradient(center top, $white, $dreams-bg);
    padding: 35px 38px 17px 43px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);

    @include media('<tablet') {
      padding: 0 10px 17px 10px;
      margin: 0;
    }
    @include media('>=768px') {
      flex-direction: row;
    }
    @include media( '<992px', '>=tablet') {
      padding: 35px 38px 17px;
    }
    @include media( '<tablet', '>=540px') {
      padding: 0 50px 17px;
    }
  }

  &__content {
    display: flex;

    @include media('>=tablet') {
      @include col(5);
    }
  }
}

.d-content {
  margin: auto 0;
  padding: 52px 0 30px;
  width: 100%;

  @include media( '<992px', '>=tablet') {
    padding: 0;
  }

  .fontFaceObserver & {
    font-family: 'MyriadPro-BlackIt';
  }
  &__heading {
    .fontFaceObserver & {
      font-family: 'MyriadPro-BlackIt' !important;
    }
  }

  &__supname {
    color: #42474f;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  }
  &__heading {
    margin-top: 5px;
    letter-spacing: -2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
  &__text {
    font-size: 1.25em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  }
}
.d-buttons {
  margin-top: 35px;

  &__btn {
    border-radius: 5px;
    margin-right: 20px;
  }
}

//video
.video {
  position: relative;
  border-radius: 5px;
  overflow: hidden;

  @include media('>=tablet') {
    @include col(7);
  }
  @include media('<992px') {
    margin-bottom: 10px;
  }

  &__overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: $btn-dark-blue;
    background-image: url('../img/video.png'), radial-gradient(ellipse, #83baee 0, #79abde 25%, #79abde 25%, #3366cc 100%);
    background-size: cover;
    box-shadow: inset 0 27px 0 -10px $gray, inset 0 -25px 0 -10px $gray;

    @include media("<1200px", ">=992px") {
      width: auto !important;
    }
  }
}

.slick-list {
  border-radius: 4px;
  overflow: hidden;
}

.controls {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-70%);
  z-index: 15;
  border-radius: 5px;
  background-color: #76A6CD;
  background-image: linear-gradient(#A9CAE9,  #76A6CD);
  @include size(50%, 26%);
  box-shadow: 0 0.4px 0 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 0 rgba(255, 255, 255, 0.6);


  @include media("<480px") {
     @include size(60%, 30%);
  }
  &__btn {
    margin: auto;
  }
}

.controls__btn,
.controls__prev,
.controls__next {
  margin: auto;
  @include transition;
  //background: #666;
  //background-image: linear-gradient(#666, #333);
  border: none;
  border-radius: 5px;
  //box-shadow: inset 0 10px 15px -10px $black;
  padding: 10px;
  color: $white;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), linear-gradient(to top, #000000, #747474), linear-gradient(#1e1e1e, #1e1e1e);
  box-shadow: 0 1px 0 0 #cdcdcd, inset 0 2px 3px 0 #000000;

  @include media("<480px") {
    font-size: 1.2em;
  }

  &:after {
    margin: 0 1px;
  }

  &:hover,
  &:focus {
    outline: none;
    background: lighten(#666, 10%);
    background-image: linear-gradient(lighten(#666, 10%), lighten(#333, 10%));
  }
}

// slick
.slick {
  position: relative;

  &__item {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
  }

  .fluid-width-video-wrapper {
    iframe {
      margin: 0;
      min-height: auto;
      border: none;
    }
  }
}

.slick-dots{
  @include listreset;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  & > li {
    border-radius: 50%;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.55), #000000);
    @include transition;
  }
  button {
    display: none;
  }
  
  .slick-active {
    background: #3a9cd0;
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.52), inset 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    @include transition;
  }
}




