// Forms
.forms {
  @include  container();

  background: $accent;
  font-size: 16px;
}

.message {
  display: block;
  position: relative;
  border-radius: 3.5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  background: $white;
  padding: 50px;
  height: 100%;

  &__success {
    @include transition();

    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 0 40px;
    text-align: center;
    color: $accent;
    font-size: 1.7em;
    font-weight: bold;

    & ~ * {
      transition: all 0.5s ease;
    }

    &.active {

      & ~ * {
        opacity: 5;
        filter: blur(10px);
      }
    }
  }
}

input {
  &.message {
    margin-bottom: 23px;
    // outline: none;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0;
    padding: 6px 0 16px;
    width: 100%;
    color: $light-gray;
    font-family: 'OpenSansSemiBold';

    &__input,
    &__input:focus {
      @include media('<1024px') {
        margin-bottom: 20px;
      }
    }
  }
}

textarea {
  &.message__textarea,
  &.message__textarea:focus {
    @include media('<1024px') {
      margin-bottom: 20px;
    }

    margin-bottom: 23px;
    // outline: none;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: none;
    padding: 6px 0 16px;
    width: 100%;
    color: $light-gray;
    font-family: 'OpenSansSemiBold';
  }
}

.message__textarea {
  @include media('<1024px') {
    min-height: 80px;
  }

  min-height: 118px;
  max-height: 500px;
  overflow: scroll;
  resize: none;
}

.message__btn {
  margin: 7px 0 0;
}

